html {
  overflow-x: hidden;
  font-family: Helvetica;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 625%;
  width: 100%;
  height: 100%;
}
body {
  position: relative;
  margin: 0;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 0;
  color: #fff;
  background-color: #e7001d;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100% !important;
  text-size-adjust: 100% !important;
}
input{
  border: none
}
img {
  pointer-events: none;
  -webkit-pointer-events: none;
  -ms-pointer-events: none;
  -moz-pointer-events: none;
}
.none {
  display: none;
}
.index_first,
.index_start {
  width: 100%;
  height: 100%;
}
.index_first img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 6;
}
.index_start img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}
/* 对话框 */
.index_talk {
  height: 100%;
  z-index: 3;
}
.index_talk_list {
  height: 85%;
  overflow: scroll;
}
/* 自己 */
.im_me {
  padding: 10px 0 10px 5%;
  width: 95%;
  min-height: 60px;
  display: flex;
  justify-content: flex-end;
}
.im_me_talk {
  max-width: 80%;
  background: transparent;
}
.im_me_name {
  line-height: 1.5;
  font-size: 12px;
  text-align: end;
}
.im_me_name span {
  margin-right: 25px;
}
.im_me_text {
  color: #000;
  background: #fff;
  border-radius: 15px;
  padding: 10px;
  font-size: 14px;
  word-wrap: break-word;
  position: relative;
}
.im_me_upimg {
  width: 100%;
}
.im_me_img {
  width: 30px;
  height: 30px;
  margin: 0 10px;
  background: transparent;
}
.talk_icon {
  position: absolute;
  top: 5px;
  left: -30px;
  width: 30px;
  height: 30px;
}
/* 对方 */
.im_user {
  padding: 10px 5% 10px 0;
  width: 95%;
  min-height: 60px;
  display: flex;
  justify-content: flex-start;
}
.im_user_name {
  line-height: 1.5;
  font-size: 12px;
  text-align: start;
}
.im_user_name span {
  margin-left: 25px;
}
.im_user_text {
  color: #000;
  background: #fff;
  border-radius: 15px;
  padding: 10px;
  font-size: 14px;
  word-wrap: break-word;
}
.im_user_upimg {
  width: 100%;
}
img {
  width: 100%;
  height: 100%;
}
.im_user_upimg img {
  float: left;
}
.im_me_upimg img {
  float: right;
}
.talk_loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 1;
}
.talk_next{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
  z-index: 1;
}
.talk_next .next_body{
  margin: 50% auto;
  background: #fff;
  width: 170px;
  height: 40px;
  border-radius: .1rem;
  color: #000;
  line-height: 40px;
  font-size: .18rem;
}
.talk_next .next_body div{
  width: 49%;
  height: 100%;
  float: left;
}
.next_body_root+.next_body_question{
  border-left: 1px solid #000; 
}
  .talk_loading img {
  margin-top: 50%;
  width: 170px;
  height: 100px;
}
.playend {
  width: 10px;
  height: 10px;
}
/* 按钮 */
.talk_luyin {
  width: 100%;
  margin: auto;
  height: 15%;
  z-index: 2;
}
.talk_onlong {
  width: 1.90rem;
  height: .55rem;
  background: url("../images/clicklong.png");
  background-size: 100% 100%;
  border: none;
}
/* 尾页 */
.index_end_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/start.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: blur(7px);
  -moz-filter: blur(7px);
  -o-filter: blur(7px);
  -ms-filter: blur(7px);
  z-index: 1;
}
.index_end {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
}
.end_title {
  font-size: 20px;
  width: 100%;
  text-align: center;
  position: fixed;
  top: 30%;
  left: 0;
}
.end_content {
  font-size: 14px;
  width: 100%;
  text-align: center;
  position: fixed;
  top: 40%;
  left: 0;
}
.end_clickget {
  width: 100%;
  margin: auto;
  position: fixed;
  top: 55%;
  left: 0;
}
.end_share {
  width: 100%;
  margin: auto;
  position: fixed;
  top: 70%;
  left: 0;
}
.talk_show{
  width: 1.90rem;
  padding-top: .2rem;
  margin: auto;
}

.end_clickget div,
.end_share div {
  width: 1.90rem;
  height: .55rem;
  margin: auto;
}

/* 按钮效果 */
.live {
  position: relative;
  width: 1.90rem;
}
@keyframes living {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }
  50% {
    transform: scale(1.5);
    opacity: 0; /*圆形放大的同时，透明度逐渐减小为0*/
  }
  100% {
    transform: scale(1);
    opacity: 0.5;
  }
}
.live span {
  position: absolute;
  width: 1.90rem;
  height: .55rem;
  margin-top: .2rem;
  left: 2px;
  top: 0;
  background: #ffc100;
  border-radius: 50px;
  opacity: 0;
  -webkit-animation: living 3s linear infinite;
  z-index: -1;
}
.live span:nth-child(2) {
  -webkit-animation-delay: 1.5s; /*第二个span动画延迟1.5秒*/
}
/* 弹窗 */
.setPhone {
  z-index: 99;
  position: absolute;
  top: 30%;
  left: 20%;
  width: 60%;
  background: #fff;
  text-align: center;
}
.getPhone {
  width: 90%;
  height: 35px;
}
.getPhone_btn {
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  background: #e7001d;
}
